* {
  margin: 0;
  padding: 0;
  color: #002e6d;
}

body {
  background-color: #333333;
  font-family: Montserrat, Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

.app {
  margin: 0% 15%;
  padding: 1rem;
  background-color: #ffffff;
}

.blue-div {
  background-color: rgb(129, 129, 233);
  height: 100px;
  margin: 0%;
}

@media (max-width: 1200px) {
  .app {
    margin: 0px;
  }


}
